{
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "printWidth": 72,
  "endOfLine": "lf",
  "arrowParens": "always",
  "trailingComma": "es5",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^react(.*)$",
    "^next(.*)$",
    "^~/components/(.*)$",
    "^~/server(.*)$",
    "^~/types(.*)$",
    "^~/helpers(.*)$",
    "^~/utils(.*)$",
    "^dayjs/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
