<p>
  Benjamin Klein<br />
  Benjamin Klein - webkult.de<br />
  Kleine Dorfstra&szlig;e 5<br />
  38312 B&ouml;r&szlig;um
</p>

<h2>Contact</h2>
<p>
  Phone: +49 151 546 172 46<br />
  E-mail: support@growagram.com
</p>

<h2>Information regarding professional liability insurance</h2>
<p>
  <strong>Name and registered office of the insurer:</strong><br />
  VHV Allgemeine Versicherung AG<br />
  VHV-Platz 1 <br />
  30177 Hannover
</p>
<h2>Person responsible for editorial</h2>
<p>
  Benjamin Klein<br />
  Benjamin Klein - webkult.de<br />
  Kleine Dorfstra&szlig;e 5<br />
  38312 B&ouml;r&szlig;um
</p>

<h2>EU dispute resolution</h2>
<p>
  The European Commission provides a platform for online dispute
  resolution (ODR):
  <a
    href="https://ec.europa.eu/consumers/odr/"
    target="_blank"
    rel="noopener noreferrer"
    >https://ec.europa.eu/consumers/odr/</a
  >.<br />
  Our e-mail address can be found above in the site notice.
</p>

<h2>
  Dispute resolution proceedings in front of a consumer arbitration
  board
</h2>
<p>
  We are not willing or obliged to participate in dispute resolution
  proceedings in front of a consumer arbitration board.
</p>

<h2>
  Central contact point according to the Digital Services Act - DSA
  (Regulation (EU) 2022/265)
</h2>
<p>
  You can reach our central contact point for users and authorities in
  accordance with Art. 11, 12 DSA as follows:
</p>
<p>
  E-mail: support@growagram.com<br />
  Phone: +49 151 546 172 46
</p>
<p>
  The languages available for contact are: German, English, deutsch /
  englisch (german / english).
</p>
