<p>
  Benjamin Klein<br />
  Benjamin Klein - webkult.de<br />
  Kleine Dorfstra&szlig;e 5<br />
  38312 B&ouml;r&szlig;um
</p>

<h2>Kontakt</h2>
<p>
  Telefon: +49 151 546 172 46<br />
  E-Mail: support@growagram.com
</p>

<h2>Angaben zur Berufs&shy;haftpflicht&shy;versicherung</h2>
<p>
  <strong>Name und Sitz des Versicherers:</strong><br />
  VHV Allgemeine Versicherung AG<br />
  VHV-Platz 1 <br />
  30177 Hannover
</p>
<h2>Redaktionell verantwortlich</h2>
<p>
  Benjamin Klein<br />
  Benjamin Klein - webkult.de<br />
  Kleine Dorfstra&szlig;e 5<br />
  38312 B&ouml;r&szlig;um
</p>

<h2>EU-Streitschlichtung</h2>
<p>
  Die Europ&auml;ische Kommission stellt eine Plattform zur
  Online-Streitbeilegung (OS) bereit:
  <a
    href="https://ec.europa.eu/consumers/odr/"
    target="_blank"
    rel="noopener noreferrer"
    >https://ec.europa.eu/consumers/odr/</a
  >.<br />
  Unsere E-Mail-Adresse finden Sie oben im Impressum.
</p>

<h2>
  Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
</h2>
<p>
  Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
  vor einer Verbraucherschlichtungsstelle teilzunehmen.
</p>

<h2>
  Zentrale Kontaktstelle nach dem Digital Services Act - DSA (Verordnung
  (EU) 2022/265)
</h2>
<p>
  Unsere zentrale Kontaktstelle f&uuml;r Nutzer und Beh&ouml;rden nach
  Art. 11, 12 DSA erreichen Sie wie folgt:
</p>
<p>
  E-Mail: support@growagram.com<br />
  Telefon: +49 151 546 172 46
</p>
<p>
  Die für den Kontakt zur Verf&uuml;gung stehenden Sprachen sind:
  Deutsch, Englisch, deutsch / englisch (german / english).
</p>
