<h2>1. Geltungsbereich</h2>
<p>
  <strong>1.1</strong> Diese Nutzungsbedingungen (AGB) regeln die
  Nutzung der Plattform "GrowAGram", auf der Benutzer Medien wie Videos
  und Bilder hochladen und eigene Texte verfassen können. Durch die
  Nutzung der Plattform stimmen Sie diesen Nutzungsbedingungen zu.
</p>
<h2>2. Nutzung von Inhalten</h2>
<p>
  <strong>2.1</strong> Benutzer dürfen nur Medien und Inhalte hochladen,
  für die sie die Rechte besitzen.<br />
  <strong>2.2</strong> Die hochgeladenen Bilder und Texte können von
  jedermann gesehen und gelesen werden.<br />
  <strong>2.3</strong> Der Plattformbetreiber erhält das
  uneingeschränkte Recht, alle von Benutzern erstellten Inhalte für
  Marketingzwecke zu verwenden.
</p>
<h2>3. Verhaltenskodex</h2>
<p>
  <strong>3.1</strong> Benutzer müssen die Gesetze ihres jeweiligen
  Landes bezüglich des Anbaus von Cannabis einhalten.<br />
  <strong>3.2</strong> Verfassungsfeindliche Aktivitäten, Beleidigungen
  und unhöfliches Verhalten sind verboten. Benutzer müssen immer höflich
  und hilfsbereit sein.<br />
  <strong>3.3</strong> Werbung für andere Plattformen ist verboten.
  Gesponserte Beiträge müssen mit dem Plattformbetreiber vereinbart
  werden.<br />
  <strong>3.4</strong> Das Anbieten von Produkten, Teilen oder
  Dienstleistungen an andere Benutzer ist strengstens untersagt. Solche
  Beiträge und Nachrichten werden ohne Kommentar gelöscht und können
  eine Warnung oder ein Verbot zur Folge haben.<br />
  <strong>3.5</strong> Persönliche Daten wie Adressen oder
  Telefonnummern dürfen nicht veröffentlicht oder in persönlichen
  Nachrichten weitergegeben werden.<br />
  <strong>3.6</strong> Vulgäre Sprache und unangemessene Inhalte sind
  nicht erlaubt. Abkürzungen, Selbstzensur und Versuche, die Wortzensur
  der Community-Software zu umgehen, sind ebenfalls verboten.<br />
  <strong>3.7</strong> Familienfreundlichkeit ist ein wichtiges Merkmal
  der Plattform. Beiträge sollten entsprechend formuliert sein.
</p>
<h2>4. Altersbeschränkungen und Kontoregeln</h2>
<p>
  <strong>4.1</strong> Um ein Konto zu erstellen, müssen Benutzer
  mindestens 18 Jahre alt sein. Wenn ein minderjähriger Kontoinhaber
  entdeckt wird, werden das Konto und alle Beiträge gelöscht.<br />
  <strong>4.2</strong> Jeder Benutzer darf nur ein Konto erstellen.
  Mehrere Konten werden gelöscht, und der Benutzer wird verwarnt oder
  gesperrt.<br />
  <strong>4.3</strong> Benutzernamen dürfen keine persönlichen Daten
  oder anstößigen Begriffe enthalten. Der Plattformbetreiber behält sich
  das Recht vor, Benutzernamen zu ändern, die Verwirrung stiften
  könnten.
</p>
<h2>5. Strafen bei Verstößen</h2>
<p>
  <strong>5.1</strong> Bei Verstößen gegen diese Nutzungsbedingungen
  kann der Benutzer vorübergehend oder dauerhaft von der Nutzung der
  Plattform ausgeschlossen werden.
</p>
<h2>6. Salvatorische Klausel</h2>
<p>
  <strong>6.1</strong> Sollte eine Bestimmung dieser Nutzungsbedingungen
  ganz oder teilweise unwirksam sein oder werden, bleibt die Wirksamkeit
  der übrigen Bestimmungen unberührt. Die unwirksame Bestimmung wird
  durch eine Bestimmung ersetzt, die dem wirtschaftlichen Zweck der
  unwirksamen Bestimmung möglichst nahekommt.
</p>
<h2>7. Änderungen der Nutzungsbedingungen</h2>
<p>
  <strong>7.1</strong> Der Plattformbetreiber behält sich das Recht vor,
  diese Nutzungsbedingungen jederzeit zu ändern. Änderungen werden den
  Benutzern rechtzeitig mitgeteilt.
</p>
<h2>8. Kontakt</h2>
<p>
  <strong>8.1</strong> Wenn Sie Fragen oder Probleme mit der Wortzensur
  haben, wenden Sie sich bitte an unseren Support.
</p>
